@page


@model Creators.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Movies List";
}



<style>
    body {
        background: url(https://million-wallpapers.com/wallpapers/4/0/514269517709190/wall-of-rocks.jpg);
        background-size: cover;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color:white;
    }
</style>

<body>
    <div class="body">
        <h1>CHOOSE YOUR FAVOURITE MOVIE</h1>

        <p>
            <a asp-page="Create">Create New</a>
        </p>

        <form>

            <p>
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Apply" />

                <select asp-for="MovieGenre" asp-items="Model.Genres">
                    <option value="">All</option>
                </select>
            </p>

        </form>

        <table class="t" cellpadding="6" cellspacing="6">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie[0].Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


</body>

